@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
nav {
  background-color: #111;
  color: white;
  padding: 20px 50px;
}
.navTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search {
  display: flex;
  align-items: center;
  background-color: gray;
  padding: 10px 20px;
  border-radius: 10px;
}
.searchInput {
  border: none;
  background-color: transparent;
}
.searchInput::placeholder {
  color: lightgray;
}
.limitedOffer {
  font-size: 20px;
  border-bottom: 2px solid green;
  cursor: pointer;
}
.navBottom {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menuItems {
  margin-right: 50px;
  cursor: pointer;
  color: lightgray;
  font-weight: 400;
}
.slider {
  background: url("https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80");
  /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%); */
}
.sliderWrapper {
  display: flex;
  width: 500vw;
}
.sliderItem {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.sliderbg {
  height: 750px;
  width: 750px;
  border-radius: 50%;
  position: absolute;
}
.sliderImg {
  z-index: 1;
}
.sliderTitle {
  position: absolute;
  top: 10%;
  right: 10%;
  font-size: 60px;
  font-weight: 900;
  text-align: center;
  color: white;
  z-index: 1;
}
.sliderPrice {
  position: absolute;
  top: 10%;
  left: 10%;
  font-size: 60px;
  font-weight: 300;
  text-align: center;
  color: white;
  border: 1px solid gray;
  z-index: 1;
}
.buyButton {
  position: absolute;
  top: 50%;
  right: 10%;
  font-size: 30px;
  font-weight: 900;
  color: white;
  border: 1px solid gray;
  z-index: 1;
  cursor: pointer;
  background-color: black;
}
.buyButton:hover {
  background-color: white;
  color: black;
}
.sliderItem:nth-child(1) .sliderbg {
  background-color: #369e62;
}
.sliderItem:nth-child(2) .sliderbg {
  background-color: rebeccapurple;
}
.sliderItem:nth-child(3) .sliderbg {
  background-color: teal;
}
.sliderItem:nth-child(4) .sliderbg {
  background-color: cornflowerblue;
}
.sliderItem:nth-child(5) .sliderbg {
  background-color: rgb(124, 115, 80);
}

.sliderItem:nth-child(1) .sliderPrice {
  color: #369e62;
}
.sliderItem:nth-child(2) .sliderPrice {
  color: white;
}
.sliderItem:nth-child(3) .sliderPrice {
  color: teal;
}
.sliderItem:nth-child(4) .sliderPrice {
  color: cornflowerblue;
}
.sliderItem:nth-child(5) .sliderPrice {
  color: cornsilk;
}
